<a href="https://colab.research.google.com/github/axbuild/ds/blob/master/sf_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
            index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)
print(data.loc[["Первый", "Третий"]])

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object
Первый    Январь
Третий      Март
dtype: object

In [ ]:
import pandas as pd

s = pd.Series(["Ivanov", "Moscow"], index=["name", "city"])
print("name" in s)     # True, такой ключ есть
print("Ivanov" in s)    # False, такого ключа нет, это значение

True
False

In [ ]:
import pandas as pd

s = pd.Series(["Bo", "Ba"], index=["name", "city"])

def extract_values(row, keys):
  return row[keys].tolist()

extract_values(s, ["city"])

['Ba']

In [ ]:
import pandas as pd

s = pd.Series(["Bo", "Ba"], index=["name", "city"])

def extract_values_by_idx(row, idxs):
  return row.iloc[idxs].tolist()

extract_values_by_idx(s, [1])

['Ba']

In [ ]:
import pandas as pd

s = pd.Series(["Abc", "Def"], index=["name", "city"])

def get_or_default(row, key, default):
  return row[key] if key in row else default

get_or_default(s, "salary", 50)
get_or_default(s, "city", "Mos")

'Def'

In [ ]:
data = pd.DataFrame([['Иванов', 100, 'Сочи'], ['Петров', 200, 'Москва']])
print(data)

        0    1       2
0  Иванов  100    Сочи
1  Петров  200  Москва

In [ ]:
!curl "https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html" > data.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 34627    0 34627    0     0  48770      0 --:--:-- --:--:-- --:--:-- 48770

In [ ]:
import pandas as pd
data = pd.read_excel('data.xlsx')
print(data)
data = pd.read_csv('people.csv', names=['Фамилия', 'Зарплата', 'Город'])
print(data)
print(data.head())
print(data.tail(1))

Давайте создадим таблицу со случайными данными: первый столбец будет иметь равномерное распределение на отрезке [0, 1], а второй - нормальное распределение с параметрами (mu=3, sigma=2):

In [ ]:
import random as random
import pandas as pd

data = [[random.random(), random.gauss(3, 2)] for _ in range(10000)]
data = pd.DataFrame(data, columns=['uniform', 'gauss_3_2'])
print(data.head())
print(data.info())
print(data.describe())

    uniform  gauss_3_2
0  0.519841   3.550109
1  0.566451   2.376845
2  0.802302   3.769845
3  0.865021   3.315956
4  0.870498   4.788750
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uniform    10000 non-null  float64
 1   gauss_3_2  10000 non-null  float64
dtypes: float64(2)
memory usage: 156.4 KB
None
            uniform     gauss_3_2
count  10000.000000  10000.000000
mean       0.495432      2.985961
std        0.288179      2.001156
min        0.000237     -4.245815
25%        0.247035      1.645766
50%        0.494388      2.949255
75%        0.742474      4.306669
max        0.999724     10.697065

In [ ]:
import pandas as pd
import random as random

def random_table(a, b, n):
  data = [[random.uniform(a,b)] for x in range(n)]
  df = pd.DataFrame(data, columns=['uniform'])
  return df


random_table(5,10,10)

    uniform
0  9.390034
1  9.308216
2  5.236293
3  6.537743
4  6.238053
5  6.234465
6  7.647763
7  6.460532
8  9.728975
9  9.158058

In [ ]:
import pandas as pd

def word_count(word):
  data = pd.read_csv('data/war_peace_processed.txt')
  words = data['1'].value_counts()
  return words[word]

word_count('что')

5097

In [ ]:
import pandas as pd

def word_with_count(count):
  data = pd.read_csv('data/war_peace_processed.txt')
  words = data['1'].value_counts()
  return words[words==count].keys()[0]

word_with_count(5097)

'что'

In [ ]:
import requests
import pandas as pd

data = pd.read_csv('titanic.csv')
#print(data.describe())
print(data["Survived"].mean())
print(data.groupby('Sex')["Survived"].mean())
print(data.groupby(['Sex', 'Class'])["Survived"].mean())
print(data.groupby(['Sex', 'Class'])["Age"].median())
obj = data.groupby(['Class', 'Survived'])["Age"].quantile(0.9)
print(obj[2.0, 1.0])   # здесь 2.0 - класс, а 1.0 - признак того, что пассажир выжил

0.3838383838383838
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
Sex     Class
female  1.0      0.968421
        2.0      0.920000
        3.0      0.496503
male    1.0      0.368852
        2.0      0.158879
        3.0      0.135447
Name: Survived, dtype: float64
Sex     Class
female  1.0      36.0
        2.0      28.0
        3.0      22.0
male    1.0      41.5
        2.0      30.0
        3.0      25.0
Name: Age, dtype: float64
44.70000000000002

In [ ]:
import pandas as pd

data_1 = pd.DataFrame([['Москва', 'Хвойный', 314],['Москва', 'Хвойный', 271], ['Москва', 'Лиственный', 567]], columns=['city', 'type', 'price'])

def avg_price(data, city, type):
  return data.groupby(['city','type'])['price'].mean()[city][type]

avg_price(data_1,'Москва','Хвойный')

292.5

In [ ]:
import pandas as pd

data_1 = pd.DataFrame([['Москва', 'Хвойный', 314],['Москва', 'Хвойный', 271], ['Москва', 'Лиственный', 567]], columns=['city', 'type', 'price'])

def max_city(data):
  return data.loc[data['price'].idxmax()]['city']

max_city(data_1)

'Москва'

In [57]:
#8.1
import pandas as pd

data_1 = pd.DataFrame([['Москва', 'Хвойный', 314],\
                       ['Москва', 'Хвойный', 271],\
                       ['Балашиха', 'Лиственный', 567]],\
                       columns=['city', 'type', 'price'])

def good_cities(data, min_price):
  mean_cities = data.groupby(['city']).mean()
  return mean_cities[mean_cities['price']>=min_price]['price'].keys().tolist() #mean_cities.loc[mean_cities]
  #return data[data['price']>=min_price]['city'].tolist()

good_cities(data_1, 500)

['Балашиха']

In [70]:
#8.2
import pandas as pd

data_1 = pd.DataFrame([['Москва', 'Хвойный', 314],\
                     ['Москва', 'Хвойный', 271],\
                     ['Москва', 'Лиственный', 1024],\
                     ['Балашиха', 'Лиственный', 567]],\
                     columns=['city', 'type', 'price'])

def best_price_with_fixed_type(data, type):
  mean_cities = data[data['type']==type].groupby(['city'])['price'].mean()
  return mean_cities.max()
  #return max(data[data['type']==type]['price'].tolist())

best_price_with_fixed_type(data_1, 'Лиственный')

1024

In [ ]:
#print(data.groupby(['Class'])['Survived'].mean().mul(100))
#print(data.groupby(['Class'])['Survived'].mean() * 100)

In [76]:
#9.1
import pandas as pd

data = pd.DataFrame([[10, 20, 30],\
                     [5, 15, 35]],\
                     columns=['United Laplandia',\
                              'Honest Laplandia',\
                              'Laplandia for life'])
def win(data, party, voices):
  data[party]+=voices
  return data

win(data, 'United Laplandia', 50)

   United Laplandia  Honest Laplandia  Laplandia for life
0                60                20                  30
1                55                15                  35

In [108]:
import pandas as pd

data = pd.read_csv('titanic.csv')

result = data[['PassengerId','Survived']]
result = data.loc[[1,5],['PassengerId','Survived']]
result = data.loc[1:5,['PassengerId','Survived']]
result = data.iloc[1:5]
result = data.shape
print(result)

filtered = data.filter(items=['Age', 'Class', 'Survived'], axis=1)
print(filtered.info())
print(filtered)

(1309, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       1046 non-null   float64
 1   Class     1304 non-null   float64
 2   Survived  891 non-null    float64
dtypes: float64(3)
memory usage: 30.8 KB
None
       Age  Class  Survived
0     22.0    3.0       0.0
1     38.0    1.0       1.0
2     26.0    3.0       1.0
3     35.0    1.0       1.0
4     35.0    3.0       0.0
...    ...    ...       ...
1304   NaN    3.0       NaN
1305  39.0    1.0       NaN
1306  38.5    3.0       NaN
1307   NaN    3.0       NaN
1308   NaN    3.0       NaN

[1309 rows x 3 columns]

In [113]:
import pandas as pd

data_1 = pd.DataFrame([[10, 20, 30],\
                     [5, 15, 35]],\
                     index=['UIK128', 'UIK256'],\
                     columns=['United Laplandia', 'Honest Laplandia', 'Laplandia for life'])

def extract_item(data, row, col):
  return data.loc[row,[col]].tolist()[0]

extract_item(data_1, 'UIK256', 'United Laplandia')

5

In [114]:
import pandas as pd

data = pd.read_csv('titanic.csv')

filtered = data.filter(items=['Age', 'Class', 'Survived'], axis=1)
print(filtered.corr())

               Age     Class  Survived
Age       1.000000 -0.406132 -0.077221
Class    -0.406132  1.000000 -0.341829
Survived -0.077221 -0.341829  1.000000