<a href="https://colab.research.google.com/github/axbuild/ds/blob/master/sf_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
            index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)
print(data.loc[["Первый", "Третий"]])

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object
Первый    Январь
Третий      Март
dtype: object

In [7]:
import pandas as pd

s = pd.Series(["Ivanov", "Moscow"], index=["name", "city"])
print("name" in s)     # True, такой ключ есть
print("Ivanov" in s)    # False, такого ключа нет, это значение

True
False

In [12]:
import pandas as pd

s = pd.Series(["Bo", "Ba"], index=["name", "city"])

def extract_values(row, keys):
  return row[keys].tolist()

extract_values(s, ["city"])

['Ba']

In [23]:
import pandas as pd

s = pd.Series(["Bo", "Ba"], index=["name", "city"])

def extract_values_by_idx(row, idxs):
  return row.iloc[idxs].tolist()

extract_values_by_idx(s, [1])

['Ba']

In [36]:
import pandas as pd

s = pd.Series(["Abc", "Def"], index=["name", "city"])

def get_or_default(row, key, default):
  return row[key] if key in row else default

get_or_default(s, "salary", 50)
get_or_default(s, "city", "Mos")

'Def'

In [37]:
data = pd.DataFrame([['Иванов', 100, 'Сочи'], ['Петров', 200, 'Москва']])
print(data)

        0    1       2
0  Иванов  100    Сочи
1  Петров  200  Москва

In [41]:
!curl "https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html" > data.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 34627    0 34627    0     0  48770      0 --:--:-- --:--:-- --:--:-- 48770

In [ ]:
import pandas as pd
data = pd.read_excel('data.xlsx')
print(data)
data = pd.read_csv('people.csv', names=['Фамилия', 'Зарплата', 'Город'])
print(data)
print(data.head())
print(data.tail(1))

Давайте создадим таблицу со случайными данными: первый столбец будет иметь равномерное распределение на отрезке [0, 1], а второй - нормальное распределение с параметрами (mu=3, sigma=2):

In [3]:
import random as random
import pandas as pd

data = [[random.random(), random.gauss(3, 2)] for _ in range(10000)]
data = pd.DataFrame(data, columns=['uniform', 'gauss_3_2'])
print(data.head())
print(data.info())
print(data.describe())

    uniform  gauss_3_2
0  0.519841   3.550109
1  0.566451   2.376845
2  0.802302   3.769845
3  0.865021   3.315956
4  0.870498   4.788750
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uniform    10000 non-null  float64
 1   gauss_3_2  10000 non-null  float64
dtypes: float64(2)
memory usage: 156.4 KB
None
            uniform     gauss_3_2
count  10000.000000  10000.000000
mean       0.495432      2.985961
std        0.288179      2.001156
min        0.000237     -4.245815
25%        0.247035      1.645766
50%        0.494388      2.949255
75%        0.742474      4.306669
max        0.999724     10.697065

In [15]:
import pandas as pd
import random as random

def random_table(a, b, n):
  data = [[random.uniform(a,b)] for x in range(n)]
  df = pd.DataFrame(data, columns=['uniform'])
  return df


random_table(5,10,10)

    uniform
0  9.390034
1  9.308216
2  5.236293
3  6.537743
4  6.238053
5  6.234465
6  7.647763
7  6.460532
8  9.728975
9  9.158058

In [19]:
import pandas as pd

def word_count(word):
  data = pd.read_csv('data/war_peace_processed.txt')
  words = data['1'].value_counts()
  return words[word]

word_count('что')

5097

In [38]:
import pandas as pd

def word_with_count(count):
  data = pd.read_csv('data/war_peace_processed.txt')
  words = data['1'].value_counts()
  return words[words==count].keys()[0]

word_with_count(5097)

'что'

In [51]:
import requests
import pandas as pd

data = pd.read_csv('titanic.csv')
#print(data.describe())
print(data["Survived"].mean())
print(data.groupby('Sex')["Survived"].mean())
print(data.groupby(['Sex', 'Class'])["Survived"].mean())
print(data.groupby(['Sex', 'Class'])["Age"].median())
obj = data.groupby(['Class', 'Survived'])["Age"].quantile(0.9)
print(obj[2.0, 1.0])   # здесь 2.0 - класс, а 1.0 - признак того, что пассажир выжил

0.3838383838383838
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
Sex     Class
female  1.0      0.968421
        2.0      0.920000
        3.0      0.496503
male    1.0      0.368852
        2.0      0.158879
        3.0      0.135447
Name: Survived, dtype: float64
Sex     Class
female  1.0      36.0
        2.0      28.0
        3.0      22.0
male    1.0      41.5
        2.0      30.0
        3.0      25.0
Name: Age, dtype: float64
44.70000000000002

In [ ]:
import pandas as pd

def avg_price(data, city, type):