<a href="https://colab.research.google.com/github/axbuild/ds/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%time
query = ['Олег', 'Ольга', 'Юлия', 'Елена']
c=query[0]
del query[0]
query.append(c)
print(query)

['Ольга', 'Юлия', 'Елена', 'Олег']
CPU times: user 364 µs, sys: 24 µs, total: 388 µs
Wall time: 329 µs

In [ ]:
%%time
query = ['Олег', 'Ольга', 'Юлия', 'Елена']
query_out = query[1::]
query_out.append(query[0])
print(query_out)

['Ольга', 'Юлия', 'Елена', 'Олег']
CPU times: user 62 µs, sys: 13 µs, total: 75 µs
Wall time: 78.9 µs

In [ ]:
current = ['Бегунова', 'Власова', 'Кашин', 'Васин']
previous = ['Васин', 'Агарков', 'Нархова']

for i,v in enumerate(current):
    if v in previous:
        current.pop(i)
 
print(current)

['Бегунова', 'Власова', 'Кашин']

In [ ]:
exp = [0.5, 0.6, 0.6, 0.1]
exp[-1] = None
print(exp)

[0.5, 0.6, 0.6, None]

In [ ]:
lst_1 = ['a', 'b', 'c']
lst_2 = ['1', '2', '3']
lst_1[1] = lst_2[1]
print(lst_1)

['a', '2', 'c']

In [ ]:
lst = [1, 2, 3]
print(lst+lst[::-1])

[1, 2, 3, 3, 2, 1]

In [ ]:
transactions = [200, 250, 3300, 780]
result = []
result.append(len(transactions))
result.append(max(transactions))
print(result)

[4, 3300]

In [ ]:
digits = [3, 5, 1, 7, 5, 9]
m=0
m = min(digits)
for i,v in enumerate(digits):
    if v>m:
        digits[i]=True
    else:
        digits[i]=False
 
print(digits)

[True, True, False, True, True, True]

In [ ]:
exp = [0.73, 0.68, 0.81, 0.81, 0.59, 0.77, 0.69, 0.54, 0.70, 0.72]
stack=[]
for i,v in enumerate(exp):
    stack.append('('+str(i)+', '+str(v)+')')
    #stack.append([i,v])
 
print(stack)

['(0, 0.73)', '(1, 0.68)', '(2, 0.81)', '(3, 0.81)', '(4, 0.59)', '(5, 0.77)', '(6, 0.69)', '(7, 0.54)', '(8, 0.7)', '(9, 0.72)']

In [ ]:
names = ['Петров', 'Сидоров']
tabs = [123, 124]
stack=[]
for name, tab in zip(names, tabs):
    stack.append(str(name)+' '+str(tab))

print(stack)

['Петров 123', 'Сидоров 124']

In [ ]:
s = 'abc'
lst = ['a', 'b']
for i, j in zip(lst, s):
    print(i, j)

a a
b b

In [ ]:
names = ['Тармак', 'Вшола', 'Брумель']
results = [220, 225, 228]
max=0
n=''
for name, result in zip(names, results):
    if(result >max):
        max=result
        n=name
 
print(name)

Брумель

In [29]:
names = ['Тармак', 'Вшола', 'Брумель']
results = [220, 225, 228]
max_value=max(results)
for name, result in zip(names, results):
    if result == max_value:
        n=name
        break
 
print(n)

TypeError: ignored

In [33]:
digits = [5, 2, 3]
result = [n*n for n in digits]
print(sorted(result))

[4, 9, 25]

In [34]:
my_list=[i**2 for i in range(10,20) if i%3==0]
print(my_list)

[144, 225, 324]

In [38]:
lst = ['abc', 'qwe', 'lte', 'abc']
result = len([ i for i in lst if i==lst[0]])
print(result)

2

In [ ]:
lst_result = [a+b for a,b in zip(lst_1, lst_2)]
print(max(lst_result))

In [41]:
my_list=[i+j for i,j in zip(range(10), range(10,20)) if i%3==0 or j%3==0]
my_list = [i + j for i, j in zip(range(10), range(10, 20)) if i % 3 == 0 or j % 3 == 0]
print(my_list)

[10, 14, 16, 20, 22, 26, 28]

In [43]:
lst_1 = [1, 2, 3]
lst_2 = [11, 22, 33]
lst = [[a,b] for a,b in zip(lst_1, lst_2)]
print(lst)

[[1, 11], [2, 22], [3, 33]]

In [47]:
names = ['Дима', 'Вова', 'Оля']
ages = [12, 10, 14]
lst = [[age, name] for age, name in zip(ages, names)]
print(sorted(lst, reverse=True))

[[14, 'Оля'], [12, 'Дима'], [10, 'Вова']]

In [56]:
lst = [[1, 2, 3], ['a', 'f'],[]]
result = [[a] for a in lst if len(a) > 0 ]
print(result)

[[[1, 2, 3]], [['a', 'f']]]

In [58]:
group = [('Антон', 4), ('Виктор', 4), ('Олег', 5), ('Иван', 3), ('Игнат', 4), ('Лев', 3)]
result = [value for name, value in group]
print(min(result))

3

In [59]:
my_dict = {'a': 1,'a': 2}

In [64]:
tenets = [['Иванов', 11], ['Петров', 12], ['Антонов', 13], ['Ильичев', 14]]
items = {}
for a,b in tenets:
  items[a]=b

print(items['Иванов'])

11

In [69]:
tenants_dict = {'Иванов': 11, 'Петров': 12, 'Антонов': 13, 'Ильичев': 14}
value = tenants_dict.pop('Иванов')
tenants_dict['Котова']=value
print(tenants_dict)
print(result)

{'Петров': 12, 'Антонов': 13, 'Ильичев': 14, 'Котова': 11}
11

In [73]:
names = ['Бурцев', 'Воинков', 'Филин', 'Лаков', 'Фатов']
classes = [9, 10, 11, 11, 10]
new_team_dict = {}
for n, c in zip(names, classes):
  if c != 11:
    new_team_dict[n]=c

print(sorted(new_team_dict.keys()))

['Бурцев', 'Воинков', 'Фатов']