<a href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B0_%D0%BE_%D0%BF%D0%BE%D1%80%D1%8F%D0%B4%D0%BA%D0%B5_%D0%BF%D0%B5%D1%80%D0%B5%D0%BC%D0%BD%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86">Link</a>

In [27]:
import numpy as np 

A = np.matrix("1,2")
B = np.matrix("2;1")
C = np.matrix("5")

def multiplication_order(A, B, C):
    v1 = A.shape[0]*B.shape[0]*B.shape[1]+A.shape[0]*C.shape[0]*C.shape[1]
    v2 = B.shape[0]*C.shape[0]*C.shape[1]+B.shape[0]*A.shape[0]*A.shape[1]
    return "Ax(BxC)" if v1 > v2 else "(AxB)xC"

multiplication_order(A,B,C)

'(AxB)xC'

In [64]:
import numpy as np
import pandas as pd 

A = np.matrix("\
3,51,3,0,1,0,2200;\
1,30,1,0,1,0,1600;\
2,45,2,0,1,0,1900;\
3,55,1,0,1,0,2000;\
1,45,3,1,0,0,4500;\
3,100,3,1,0,0,7000;\
2,71,2,1,0,0,5000;\
1,31,2,0,0,1,1700;\
3,53,5,0,0,1,2100;\
1,33,3,0,0,1,1500;\
2,43,5,0,0,1,2000")

data = pd.DataFrame(data=A, columns=["Комнаты","Площадь","Этаж","Центр?","Спальный1?","Спальный 2?","Цена"])

def best_worst(X, Y):
    # max_corr_idx 
    # min_corr_idx 
    Z = np.concatenate((X, Y),axis=1)
    data = pd.DataFrame(data=Z, columns=["Комнаты","Площадь","Этаж","Центр?","Спальный1?","Спальный 2?","Цена"])
    return data.corr(method='pearson')

Y = data['Цена'].to_numpy()
Y = Y.reshape(-1,1)
X = data.drop(['Цена'], axis=1).to_numpy()

best_worst(X,Y)

,Комнаты,Площадь,Этаж,Центр?,Спальный1?,Спальный 2?,Цена
Комнаты,1.000000,0.660935,0.248747,0.000000,0.221601,-0.221601,0.247668
Площадь,0.660935,1.000000,0.098311,0.675943,-0.210376,-0.415425,0.866628
Этаж,0.248747,0.098311,1.000000,-0.028868,-0.574612,0.601338,0.040698
Центр?,0.000000,0.675943,-0.028868,1.000000,-0.462910,-0.462910,0.937718
Спальный1?,0.221601,-0.210376,-0.574612,-0.462910,1.000000,-0.571429,-0.412126
Спальный 2?,-0.221601,-0.415425,0.601338,-0.462910,-0.571429,1.000000,-0.456032
Цена,0.247668,0.866628,0.040698,0.937718,-0.412126,-0.456032,1.000000